In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as soup

In [3]:
college_data = pd.read_csv("department_urls.csv")

In [4]:
view_content = college_data[college_data.classes == 'view-content']
view_content

,variable_name,College,classes,id,url
115,kines,Health & Human Development,view-content,NaN,https://www.csun.edu/health-human-development/...
116,kines_lect,Health & Human Development,view-content,NaN,https://www.csun.edu/health-human-development/...
117,kines_staff,Health & Human Development,view-content,NaN,https://www.csun.edu/health-human-development/...
118,kines_em,Health & Human Development,view-content,NaN,https://www.csun.edu/health-human-development/...
119,blaw,College of Business and Economics,view-content,NaN,https://www.csun.edu/blaw/faculty-directory
120,blaw2,College of Business and Economics,view-content,NaN,https://www.csun.edu/blaw/faculty-directory?fi...
121,blaw3,College of Business and Economics,view-content,NaN,https://www.csun.edu/blaw/faculty-directory?fi...
122,central_american_faculty,College of Humanities,view-content,NaN,https://www.csun.edu/humanities/central-americ...
123,blaw4,College of Business and Economics,view-content,NaN,https://www.csun.edu/blaw/faculty-directory?fi...

In [5]:
urls = view_content.url.tolist()

In [6]:
counter = 0
for url in urls:
    print(counter,":",url)
    counter += 1

0 : https://www.csun.edu/health-human-development/kinesiology/faculty-type/Full%20Time
1 : https://www.csun.edu/health-human-development/kinesiology/faculty-type/Lecturer
2 : https://www.csun.edu/health-human-development/kinesiology/faculty-type/Staff
3 : https://www.csun.edu/health-human-development/kinesiology/faculty-type/Emeritus
4 : https://www.csun.edu/blaw/faculty-directory
5 : https://www.csun.edu/blaw/faculty-directory?field_person_type_value%5Bfaculty%5D=faculty&field_person_type_value%5Bstaff%5D=staff&page=1
6 : https://www.csun.edu/blaw/faculty-directory?field_person_type_value%5Bfaculty%5D=faculty&field_person_type_value%5Bstaff%5D=staff&page=2
7 : https://www.csun.edu/humanities/central-american-studies/faculty-type-photo
8 : https://www.csun.edu/blaw/faculty-directory?field_person_type_value%5Bfaculty%5D=faculty&field_person_type_value%5Bstaff%5D=staff&page=3

In [38]:
def view_content_name_scrape(url):
    
    #Declare the driver 
    driver = webdriver.Chrome()
    driver.get(url)
    
    view_content_element = driver.find_element_by_class_name("view-content")
    #print(view_content_element)

    #Case for names stored within span tags
    if view_content_element.find_elements_by_css_selector('span'):
        
        #Locate first name and last name by absolute path
        first_names_html = view_content_element.find_elements_by_xpath("//article/span[1]")
        last_names_html = view_content_element.find_elements_by_xpath("//article/span[2]")
        #Declare a list of first names and last names
        first_names = [name.text for name in first_names_html]
        last_names = [name.text for name in last_names_html]
        
        names = []
        for fname,lname in zip(first_names, last_names):
            names.append([fname,lname])
            
        
    else:
        print('Not Found')
        
    #Close the driver
    driver.close()
    return names

In [36]:
# Sample test case:
view_content_name_scrape(urls[0])

['Rosa', 'Chris', 'Sean P.', 'Ovande', 'Ivan', 'Kim', 'Jake', 'Victoria', 'Danielle', 'Jacob', 'Taeyou', 'George', 'Andrew', 'Steven', 'Paulo', 'Douglas W.', 'Justin', 'Elizabeth', 'Sean', 'Ashley A.', 'Shane D.', 'Belinda', 'Terry', 'Paula S.', 'Teri', 'K. Dino', 'William C.', 'Benedict B.']
[['Rosa', 'Angulo-Barroso'], ['Chris', 'Bolsmann'], ['Sean P.', 'Flanagan'], ['Ovande', 'Furtado, Jr.'], ['Ivan', 'Guillory'], ['Kim', 'Henige'], ['Jake', 'Hinkel-Lipsker'], ['Victoria', 'Jaque'], ['Danielle', 'Jarvis'], ['Jacob', 'Jensen'], ['Taeyou', 'Jung, ATC, CAPE'], ['George', 'Kioussis'], ['Andrew', 'Linden'], ['Steven', 'Loy'], ['Paulo', 'Marchetti'], ['Douglas W.', 'McLaughlin'], ['Justin', 'Nicoll'], ['Elizabeth', 'Parke'], ['Sean', 'Rogers, DAT, ATC'], ['Ashley A.', 'Samson'], ['Shane D.', 'Stecyk'], ['Belinda', 'Stillwell'], ['Terry', 'Sweeting'], ['Paula S.', 'Thomson'], ['Teri', 'Todd'], ['K. Dino', 'Vrongistinos'], ['William C.', 'Whiting'], ['Benedict B.', 'Yaspelkis III']]

[['Rosa', 'Angulo-Barroso'],
 ['Chris', 'Bolsmann'],
 ['Sean P.', 'Flanagan'],
 ['Ovande', 'Furtado, Jr.'],
 ['Ivan', 'Guillory'],
 ['Kim', 'Henige'],
 ['Jake', 'Hinkel-Lipsker'],
 ['Victoria', 'Jaque'],
 ['Danielle', 'Jarvis'],
 ['Jacob', 'Jensen'],
 ['Taeyou', 'Jung, ATC, CAPE'],
 ['George', 'Kioussis'],
 ['Andrew', 'Linden'],
 ['Steven', 'Loy'],
 ['Paulo', 'Marchetti'],
 ['Douglas W.', 'McLaughlin'],
 ['Justin', 'Nicoll'],
 ['Elizabeth', 'Parke'],
 ['Sean', 'Rogers, DAT, ATC'],
 ['Ashley A.', 'Samson'],
 ['Shane D.', 'Stecyk'],
 ['Belinda', 'Stillwell'],
 ['Terry', 'Sweeting'],
 ['Paula S.', 'Thomson'],
 ['Teri', 'Todd'],
 ['K. Dino', 'Vrongistinos'],
 ['William C.', 'Whiting'],
 ['Benedict B.', 'Yaspelkis III']]

In [40]:
counter = 0
all_names = []
for url in urls:
    print("URL ", counter)
    temp = view_content_name_scrape(url)
    all_names.append(temp)
    counter += 1
print(all_names)

URL  0
URL  1
URL  2
URL  3
URL  4
URL  5
URL  6
URL  7
URL  8
[[['Rosa', 'Angulo-Barroso'], ['Chris', 'Bolsmann'], ['Sean P.', 'Flanagan'], ['Ovande', 'Furtado, Jr.'], ['Ivan', 'Guillory'], ['Kim', 'Henige'], ['Jake', 'Hinkel-Lipsker'], ['Victoria', 'Jaque'], ['Danielle', 'Jarvis'], ['Jacob', 'Jensen'], ['Taeyou', 'Jung, ATC, CAPE'], ['George', 'Kioussis'], ['Andrew', 'Linden'], ['Steven', 'Loy'], ['Paulo', 'Marchetti'], ['Douglas W.', 'McLaughlin'], ['Justin', 'Nicoll'], ['Elizabeth', 'Parke'], ['Sean', 'Rogers, DAT, ATC'], ['Ashley A.', 'Samson'], ['Shane D.', 'Stecyk'], ['Belinda', 'Stillwell'], ['Terry', 'Sweeting'], ['Paula S.', 'Thomson'], ['Teri', 'Todd'], ['K. Dino', 'Vrongistinos'], ['William C.', 'Whiting'], ['Benedict B.', 'Yaspelkis III']], [['Scott', 'Amiss'], ['Richard', 'Andrews'], ['Carolyn', 'Barnes'], ['Teri', 'Berkel'], ['Esteban', 'Campa'], ['Mary', 'Chua'], ['James', 'Clemmensen'], ['Claire', 'Coudray'], ['Emily', 'Curtis'], ['Liezel', 'De Guzman'], ['Robert', 'DeLaCruz'], ['Joanne', 'Divito'], ['Jacqueline', 'Eusanio'], ['John', 'Farr'], ['Jay', 'Fischer'], ['Eve', 'Fleck'], ['Hiroyasu', 'Fujishima'], ['Nick', 'Galli'], ['Elizabeth', 'Garcia'], ['Wendy', 'Hassenpflug'], ['Allen', 'Hope'], ['Ileana', 'Hurtado'], ['Shabnam', 'Islam'], ['Farzad', 'Jalilvand Tehrani'], ['Mai', 'Jara'], ['Jarrod', 'Jonsrud'], ['Nvard', 'Khachatryan'], ['Timothy', 'Komori'], ['Christine', 'LaMonica'], ['Jae', 'Lim'], ['Michele', 'Longoria'], ['Christopher', 'Mcclain'], ['Derek', 'Mena'], ['Dennis', 'Mestas'], ['Victoria', 'Nichols'], ['Matthew', 'Parke'], ['Daniel', 'Parsons'], ['Rebecca', 'Pena'], ['Lino', 'Perez'], ['Judy', 'Pisarro-Grant'], ['Robert', 'Plotke'], ['Michelle', 'Rodriguez'], ['Elizabeth', 'Rohrer'], ['Evan', 'Rosenblatt'], ['Bethana', 'Rosenthal'], ['Daniel', 'Smith'], ['Susan', 'Snyder'], ['Aaron', 'Weinstein'], ['Sharon', 'West-Sell']], [['Sangita', 'Dube'], ['Concha D.', 'Madrid-Silva'], ['Blanca', 'Maldonado'], ['Marc', 'Netter'], ['Steven', 'Paredes'], ['Marina', 'Sanchez']], [['Hooshang', 'Bagheri'], ['Shane', 'Frehlich'], ['Jennifer L.', 'Romack'], ['Mary J.', 'Sariscsany']], [['Ray', 'Calnan'], ['Mark', 'Campbell'], ['Nanci', 'Carr'], ['Wade', 'Chumney'], ['Allan', 'Cooper']], [['Reid L', 'Denham'], ['Valerie', 'Flugge'], ['Nina', 'Golden'], ['Viren', 'Kapadia'], ['David', 'Newman']], [['Christopher', 'Ng'], ['Stuart', 'Pardau'], ['Tarini', 'Ramaprakash'], ['Lauren', 'Ross'], ['Leonard', 'Rymsza']], [['Douglas', 'Carranza, Ph.D.'], ['Karla', 'Cativo, M.A.'], ['Beatriz', 'Cortez, Ph.D.'], ['Jocelyn', 'Duarte, M.A.'], ['Stephanie', 'Lemus, M.A.'], ['Susana', 'Marcelo, M.A.'], ['Leslie', 'Rodriguez, M.A.'], ['Freya', 'Rojo, M.A.'], ['Lizbeth', 'Ruiz-Torres, M.A.'], ['Celia', 'Simonds, M.A.'], ['Jasmin', 'Tobar, MSW'], ['Joseph', 'Wiltberger, Ph.D.'], ['An', 'Yountae, Ph.D.'], ['Arturo', 'Zepeda, M.A.']], [['Sandor', 'Samuels'], ['Kurt', 'Saunders'], ['Hilary', 'Silvia-Goldberg'], ['Melanie', 'Williams'], ['Gregory', 'Young']]]

In [42]:
all_names[0]

[['Rosa', 'Angulo-Barroso'],
 ['Chris', 'Bolsmann'],
 ['Sean P.', 'Flanagan'],
 ['Ovande', 'Furtado, Jr.'],
 ['Ivan', 'Guillory'],
 ['Kim', 'Henige'],
 ['Jake', 'Hinkel-Lipsker'],
 ['Victoria', 'Jaque'],
 ['Danielle', 'Jarvis'],
 ['Jacob', 'Jensen'],
 ['Taeyou', 'Jung, ATC, CAPE'],
 ['George', 'Kioussis'],
 ['Andrew', 'Linden'],
 ['Steven', 'Loy'],
 ['Paulo', 'Marchetti'],
 ['Douglas W.', 'McLaughlin'],
 ['Justin', 'Nicoll'],
 ['Elizabeth', 'Parke'],
 ['Sean', 'Rogers, DAT, ATC'],
 ['Ashley A.', 'Samson'],
 ['Shane D.', 'Stecyk'],
 ['Belinda', 'Stillwell'],
 ['Terry', 'Sweeting'],
 ['Paula S.', 'Thomson'],
 ['Teri', 'Todd'],
 ['K. Dino', 'Vrongistinos'],
 ['William C.', 'Whiting'],
 ['Benedict B.', 'Yaspelkis III']]

In [84]:
new_list = []
for name_list in all_names:
    for names in name_list:
        for name in names:
            new_list.append(name.replace("Ph.D", " ").replace(",", "").replace("CAPE", "").replace("M.A.", "").replace(" DAT", "").replace("MSW", "").replace(" ATC ", ""))
    
print(new_list)

['Rosa', 'Angulo-Barroso', 'Chris', 'Bolsmann', 'Sean P.', 'Flanagan', 'Ovande', 'Furtado Jr.', 'Ivan', 'Guillory', 'Kim', 'Henige', 'Jake', 'Hinkel-Lipsker', 'Victoria', 'Jaque', 'Danielle', 'Jarvis', 'Jacob', 'Jensen', 'Taeyou', 'Jung', 'George', 'Kioussis', 'Andrew', 'Linden', 'Steven', 'Loy', 'Paulo', 'Marchetti', 'Douglas W.', 'McLaughlin', 'Justin', 'Nicoll', 'Elizabeth', 'Parke', 'Sean', 'Rogers ATC', 'Ashley A.', 'Samson', 'Shane D.', 'Stecyk', 'Belinda', 'Stillwell', 'Terry', 'Sweeting', 'Paula S.', 'Thomson', 'Teri', 'Todd', 'K. Dino', 'Vrongistinos', 'William C.', 'Whiting', 'Benedict B.', 'Yaspelkis III', 'Scott', 'Amiss', 'Richard', 'Andrews', 'Carolyn', 'Barnes', 'Teri', 'Berkel', 'Esteban', 'Campa', 'Mary', 'Chua', 'James', 'Clemmensen', 'Claire', 'Coudray', 'Emily', 'Curtis', 'Liezel', 'De Guzman', 'Robert', 'DeLaCruz', 'Joanne', 'Divito', 'Jacqueline', 'Eusanio', 'John', 'Farr', 'Jay', 'Fischer', 'Eve', 'Fleck', 'Hiroyasu', 'Fujishima', 'Nick', 'Galli', 'Elizabeth', 'Garcia', 'Wendy', 'Hassenpflug', 'Allen', 'Hope', 'Ileana', 'Hurtado', 'Shabnam', 'Islam', 'Farzad', 'Jalilvand Tehrani', 'Mai', 'Jara', 'Jarrod', 'Jonsrud', 'Nvard', 'Khachatryan', 'Timothy', 'Komori', 'Christine', 'LaMonica', 'Jae', 'Lim', 'Michele', 'Longoria', 'Christopher', 'Mcclain', 'Derek', 'Mena', 'Dennis', 'Mestas', 'Victoria', 'Nichols', 'Matthew', 'Parke', 'Daniel', 'Parsons', 'Rebecca', 'Pena', 'Lino', 'Perez', 'Judy', 'Pisarro-Grant', 'Robert', 'Plotke', 'Michelle', 'Rodriguez', 'Elizabeth', 'Rohrer', 'Evan', 'Rosenblatt', 'Bethana', 'Rosenthal', 'Daniel', 'Smith', 'Susan', 'Snyder', 'Aaron', 'Weinstein', 'Sharon', 'West-Sell', 'Sangita', 'Dube', 'Concha D.', 'Madrid-Silva', 'Blanca', 'Maldonado', 'Marc', 'Netter', 'Steven', 'Paredes', 'Marina', 'Sanchez', 'Hooshang', 'Bagheri', 'Shane', 'Frehlich', 'Jennifer L.', 'Romack', 'Mary J.', 'Sariscsany', 'Ray', 'Calnan', 'Mark', 'Campbell', 'Nanci', 'Carr', 'Wade', 'Chumney', 'Allan', 'Cooper', 'Reid L', 'Denham', 'Valerie', 'Flugge', 'Nina', 'Golden', 'Viren', 'Kapadia', 'David', 'Newman', 'Christopher', 'Ng', 'Stuart', 'Pardau', 'Tarini', 'Ramaprakash', 'Lauren', 'Ross', 'Leonard', 'Rymsza', 'Douglas', 'Carranza  .', 'Karla', 'Cativo ', 'Beatriz', 'Cortez  .', 'Jocelyn', 'Duarte ', 'Stephanie', 'Lemus ', 'Susana', 'Marcelo ', 'Leslie', 'Rodriguez ', 'Freya', 'Rojo ', 'Lizbeth', 'Ruiz-Torres ', 'Celia', 'Simonds ', 'Jasmin', 'Tobar ', 'Joseph', 'Wiltberger  .', 'An', 'Yountae  .', 'Arturo', 'Zepeda ', 'Sandor', 'Samuels', 'Kurt', 'Saunders', 'Hilary', 'Silvia-Goldberg', 'Melanie', 'Williams', 'Gregory', 'Young']

In [81]:
new_list[0::2]
new_list[1::2]
newer_list = [i+ " " +j for i,j in zip(new_list[0::2], new_list[1::2])]
newer_list

['Rosa Angulo-Barroso',
 'Chris Bolsmann',
 'Sean P. Flanagan',
 'Ovande Furtado Jr.',
 'Ivan Guillory',
 'Kim Henige',
 'Jake Hinkel-Lipsker',
 'Victoria Jaque',
 'Danielle Jarvis',
 'Jacob Jensen',
 'Taeyou Jung ATC ',
 'George Kioussis',
 'Andrew Linden',
 'Steven Loy',
 'Paulo Marchetti',
 'Douglas W. McLaughlin',
 'Justin Nicoll',
 'Elizabeth Parke',
 'Sean Rogers DAT ATC',
 'Ashley A. Samson',
 'Shane D. Stecyk',
 'Belinda Stillwell',
 'Terry Sweeting',
 'Paula S. Thomson',
 'Teri Todd',
 'K. Dino Vrongistinos',
 'William C. Whiting',
 'Benedict B. Yaspelkis III',
 'Scott Amiss',
 'Richard Andrews',
 'Carolyn Barnes',
 'Teri Berkel',
 'Esteban Campa',
 'Mary Chua',
 'James Clemmensen',
 'Claire Coudray',
 'Emily Curtis',
 'Liezel De Guzman',
 'Robert DeLaCruz',
 'Joanne Divito',
 'Jacqueline Eusanio',
 'John Farr',
 'Jay Fischer',
 'Eve Fleck',
 'Hiroyasu Fujishima',
 'Nick Galli',
 'Elizabeth Garcia',
 'Wendy Hassenpflug',
 'Allen Hope',
 'Ileana Hurtado',
 'Shabnam Islam',
 'Farzad Jalilvand Tehrani',
 'Mai Jara',
 'Jarrod Jonsrud',
 'Nvard Khachatryan',
 'Timothy Komori',
 'Christine LaMonica',
 'Jae Lim',
 'Michele Longoria',
 'Christopher Mcclain',
 'Derek Mena',
 'Dennis Mestas',
 'Victoria Nichols',
 'Matthew Parke',
 'Daniel Parsons',
 'Rebecca Pena',
 'Lino Perez',
 'Judy Pisarro-Grant',
 'Robert Plotke',
 'Michelle Rodriguez',
 'Elizabeth Rohrer',
 'Evan Rosenblatt',
 'Bethana Rosenthal',
 'Daniel Smith',
 'Susan Snyder',
 'Aaron Weinstein',
 'Sharon West-Sell',
 'Sangita Dube',
 'Concha D. Madrid-Silva',
 'Blanca Maldonado',
 'Marc Netter',
 'Steven Paredes',
 'Marina Sanchez',
 'Hooshang Bagheri',
 'Shane Frehlich',
 'Jennifer L. Romack',
 'Mary J. Sariscsany',
 'Ray Calnan',
 'Mark Campbell',
 'Nanci Carr',
 'Wade Chumney',
 'Allan Cooper',
 'Reid L Denham',
 'Valerie Flugge',
 'Nina Golden',
 'Viren Kapadia',
 'David Newman',
 'Christopher Ng',
 'Stuart Pardau',
 'Tarini Ramaprakash',
 'Lauren Ross',
 'Leonard Rymsza',
 'Douglas Carranza  .',
 'Karla Cativo ',
 'Beatriz Cortez  .',
 'Jocelyn Duarte ',
 'Stephanie Lemus ',
 'Susana Marcelo ',
 'Leslie Rodriguez ',
 'Freya Rojo ',
 'Lizbeth Ruiz-Torres ',
 'Celia Simonds ',
 'Jasmin Tobar ',
 'Joseph Wiltberger  .',
 'An Yountae  .',
 'Arturo Zepeda ',
 'Sandor Samuels',
 'Kurt Saunders',
 'Hilary Silvia-Goldberg',
 'Melanie Williams',
 'Gregory Young']